.best-seller-items{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #fff;
}
/* .best-seller-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #fff;
} */
 .best-seller-item{
    background-color: #5e9400;
    padding: 10px;
    border-radius: 10px;
 }
 .best-seller-item img{
    width: 200px;
    height: 200px;
    object-fit: cover;
 }
